# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment/secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ansible secrets
ansible/vars/postgresql-vault.yml
ansible/vars/redis-vault.yml
ansible/vars/rabbitmq-vault.yml
ansible/vars/minio-vault.yml
ansible/vars/zabbix-vault.yml
ansible/vars/opensearch-vault.yml
ansible/vars/backup-vault.yml
