[global]
repo1-type=s3
repo1-path=/ecommerce-ha
repo1-s3-bucket=ecommerce-pgbackrest
repo1-s3-endpoint=minio.ecom.test
repo1-storage-port=9000
repo1-s3-region=us-east-1
repo1-s3-uri-style=path
repo1-storage-verify-tls=y
repo1-storage-ca-file=/etc/pgbackrest/ecommerce-root-ca.crt
repo1-s3-key-type=shared
repo1-s3-key={{ vault_pgbackrest_s3_access_key }}
repo1-s3-key-secret={{ vault_pgbackrest_s3_secret_key }}

repo1-cipher-type=aes-256-cbc
repo1-cipher-pass={{ vault_pgbackrest_repo_cipher_pass }}

repo1-retention-full=2
repo1-retention-diff=4

process-max=2
start-fast=y

log-level-console=info
log-level-file=info

[ecommerce]
pg1-path=/var/lib/postgresql/16/main
pg1-port=5432
