POSTGRES_HOST=db-primary.ecom.test
POSTGRES_PORT=5432
POSTGRES_DB=ecommerce
POSTGRES_USER=ecommerce_app
POSTGRES_PASSWORD={{ vault_postgresql_app_password }}

REDIS_PASSWORD={{ vault_redis_password }}
REDIS_MASTER_NAME=ecommerce-master

RABBITMQ_PORT=5672
RABBITMQ_USER=ecommerce_app
RABBITMQ_PASSWORD={{ vault_rabbitmq_app_password }}
RABBITMQ_VHOST=/ecommerce

MINIO_ENDPOINT=http://10.40.40.61:9000
MINIO_ACCESS_KEY={{ vault_minio_root_user }}
MINIO_SECRET_KEY={{ vault_minio_root_password }}
MINIO_BUCKET=ecommerce
