bind 127.0.0.1 {{ redis_replica_ip }}
protected-mode yes
port {{ redis_port }}

daemonize no
supervised systemd

dir /var/lib/redis
dbfilename dump.rdb

appendonly yes
appendfilename "appendonly.aof"

save 900 1
save 300 10
save 60 10000

requirepass "{{ vault_redis_password }}"
masterauth "{{ vault_redis_password }}"

replicaof {{ redis_primary_ip }} {{ redis_port }}
replica-read-only yes
